*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: space-between;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
}

.navbar-1, .navbar-2{
    padding: 4rem 13rem;
    background-color: #368a8e;
    display: flex;
    flex-direction: column;
}


ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

ul img{
    width: 150px;
    border-radius: 10px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;

}

